<html>
	<head>
		<link rel="stylesheet" href="flipclock.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <script src="http://localhost:35729/livereload.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<script src="flipclock.min.js"></script>
	</head>
	<body>

<div class="container">
  <h2>Start Timer</h2>
  <form>
    <div class="form-group row">
      <div class="col-xs-2">
        <label>Hours</label>
        <input class="form-control" id="hours" type="text">
      </div>
      <div class="col-xs-2">
        <label>Minutes</label>
        <input class="form-control" id="minutes" type="text">
      </div>
      <div class="col-xs-2">
        <label>Seconds</label>
        <input class="form-control" id="seconds" type="text">
      </div>
    </div>
    <button type="submit" id="submitbtntimer" class="btn btn-primary" style="margin:10;">Submit</button>
  </form>
</div>
<div class="form-group row timer hidden">
  <div class="col-xs-8">
	<div class="clock" style="margin:9em; padding-left:50px;"></div>
</div>
<div class="col-xs-4">
  <button type="button" style="margin:9em;" class="btn btn-warning" id="btnclose">Close</button>
</div>
</div>

	<script type="text/javascript">
		var clock;
		var audio = new Audio({{ .SoundFile }});
		$(document).ready(function() {
		  $("#submitbtntimer").on("click", function() {
				console.log("Cam hererere");
				audio.pause();
				var hour = isNaN(parseInt($("#hours").val())) ? 0 : parseInt($("#hours").val()) * 60 * 60
				var minute = isNaN(parseInt($("#minutes").val())) ? 0 : parseInt($("#minutes").val()) * 60
				var second = isNaN(parseInt($("#seconds").val())) ? 0 : parseInt($("#seconds").val())
		    $(".timer").removeClass("hidden");
		    clock = $(".clock").FlipClock({
		      clockFace: "HourlyCounter",
		      autoStart: false,
		      callbacks: {
		        stop: function() {
							if ($(".timer").is(":visible") === true) {
								audio.play();
							}
		        },
						reset: function() {
							$(".timer").addClass("hidden");
						}
		      }
		    });
		    clock.setTime(hour + minute + second);
		    clock.setCountdown(true);
		    clock.start();
		    return false;
		  });
		});
		$("#btnclose").on("click", function() {
			audio.pause();
			clock.reset();
		});
</script>

	</body>
</html>
